<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
	<style>

	body{
	    font-family:Arial;
	    background:#F8FAFC;
	}

	.form-card{
	    width:400px;
	    margin:80px auto;
	    background:#FFFFFF;
	    padding:30px;
	    border-radius:8px;
	    box-shadow:0 2px 6px rgba(0,0,0,0.1);
	}

	input{
	    width:100%;
	    padding:8px;
	    margin-top:5px;
	    margin-bottom:15px;
	}

	button{
	    background:#4ADE80;
	    border:none;
	    padding:10px 15px;
	    border-radius:6px;
	    cursor:pointer;
	}

	button:hover{
	    background:#10B981;
	}

	</style>
</head>
<body>
<div class="form-card">
<h2>Add New Book</h2>

<form th:action="@{/saveBook}" th:object="${book}" method="post">

    Title: <input type="text" th:field="*{title}" /><br><br>

    Author: <input type="text" th:field="*{author}" /><br><br>
	
	ISBN: <input type="text" th:field="*{isbn}" /><br><br>

    <button type="submit">Save</button>

</form>

<br>
<a th:href="@{/}">Back to List</a>

</div>

</body>
</html>